@tailwind base;
@tailwind components;
@tailwind utilities;
/* Background */

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgb(144, 203, 255);
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
}
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
    to {
    transform: translateX(-100%);
  }
}
.scroll-list-left {
  animation: infinity-scroll-left 80s infinite linear 0.5s both;
}